{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="public/login.css">
    {% endblock %}
{% block body %}




{#<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >#}






    <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://img.icons8.com/carbon-copy/100/000000/user-male-circle.png" class=" max-width: 20%" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="?login=login" method="post">

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


                <input type="text" id="login" class="fadeIn second" name="username" placeholder="email">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth"  name="submitLogin" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <form action="register" method="get">
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                    <br>
                    <a class="underlineHover" name="register" href="{{ path('app_register') }}" >REGISTER</a>
                </div>
            </form>
        </div>
    </div>

</form>
{% endblock %}
