{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(RegistrationForm) }}
      {#  {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}#}


    {% if is_granted('ROLE_ADMIN') %}

    {{ form_row(RegistrationForm.roles) }}
    {% endif %}

    {{ form_row(RegistrationForm.agreeTerms) }}
        <button class="btn" name="submit">Register</button>
    {{ form_end(RegistrationForm) }}
{% endblock %}
