{% extends 'base.html.twig' %}

{% block title %}Hello Manager!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="table-responsive">
        <h1>Hello mister manager sir. {{ username }}! ✅</h1>
        <table class="table-bordered">
            <thead>
            <tr>
                <th>Ticket Subject</th>
                <th>Ticket Status</th>
                <th>Agent Handling</th>

            </tr>
            </thead>
            <tbody>
            {% for i in 0..numberOfTimes-1 %}
                {{ form_start(EditTicket) }}
                <tr>


                    <td><a href="/index.php/ticket/{{ allTickets[i].id }}">{{ allTickets[i].subject }}</a></td>


                    <td> {{ allTickets[i].status }}</td>
                    <td> {{ agentName[i] }}</td>

                </tr>
                {{ form_end(EditTicket) }}

            {% endfor %}
            {{ form_start(newAgent) }}
            {{ form_widget(newAgent.save, { 'label': 'make new agent' }) }}
            {{ form_end(newAgent) }}


            </tbody>
        </table>

    </div>
{% endblock %}
